In [83]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [85]:
df = pd.read_excel('/content/drive/MyDrive/PA_1/Iris Dataset 3/irisdata.xlsx', header=None)

## Iris dataset

In [86]:
df.shape

(150, 5)

In [87]:
df.head

<bound method NDFrame.head of        0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]>

In [88]:
#no of classes
np.unique(df.iloc[:,-1:])

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [89]:
#feature vector size
df.iloc[:,0:4].shape

(150, 4)

## prior probability

In [90]:
def prior_prob(class_freq,total_rows):
  return class_freq/total_rows

In [91]:
df.iloc[:,-1:]

                  4
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [92]:
df.iloc[:,-1:].value_counts()

4
Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
dtype: int64

In [93]:
#prior probability of each class is same as the frequency's are equal.
prior_prob(50,150)

0.3333333333333333

Mean vector dimension is  (1, no of features)

In [94]:
df.mean(axis = 0).shape

(4,)

 Covariance matrix dimension is (no of features,no of features).

In [95]:
df.cov().shape

(4, 4)

# Image segentation dataset

In [96]:
df1 = pd.read_excel('/content/drive/MyDrive/PA_1/Image Segmentation Dataset1/ImageSegData.xlsx')

In [97]:
df1.shape

(210, 20)

In [146]:
df1

       classes    a    b  c  ...          p          q         r         s
0    BRICKFACE  140  125  9  ...  -7.888889   7.777778  0.545635 -1.121818
1    BRICKFACE  188  133  9  ...  -8.333333   8.444445  0.538580 -0.924817
2    BRICKFACE  105  139  9  ...  -7.666666   7.555555  0.532628 -0.965946
3    BRICKFACE   34  137  9  ...  -7.555555   7.777778  0.573633 -0.744272
4    BRICKFACE   39  111  9  ...  -7.777778   7.888889  0.562919 -1.175773
..         ...  ...  ... ..  ...        ...        ...       ...       ...
205      GRASS   36  243  9  ...  14.000000  18.000000  0.452229  2.368311
206      GRASS  186  218  9  ...  12.222222  17.777779  0.401347  2.382684
207      GRASS  197  236  9  ...   7.111111  18.555555  0.292729  2.789800
208      GRASS  208  240  9  ...  13.222222  18.555555  0.421621  2.392487
209      GRASS  223  185  9  ...  13.777778  17.555555  0.445418  1.838850

[210 rows x 20 columns]

In [99]:
#no of classes
np.unique(df1.iloc[:,:1])

array(['BRICKFACE', 'CEMENT', 'FOLIAGE', 'GRASS', 'PATH', 'SKY', 'WINDOW'],
      dtype=object)

In [100]:
#feature vector size
df1.iloc[:,1:].shape

(210, 19)

In [101]:
df1.iloc[:,:1].value_counts()

classes
WINDOW       30
SKY          30
PATH         30
GRASS        30
FOLIAGE      30
CEMENT       30
BRICKFACE    30
dtype: int64

In [102]:
#prior probability of each class is same as the frequency's are equal.
prior_prob(30,210)

0.14285714285714285

In [103]:
df1.mean(axis = 0).shape

(19,)

In [104]:
df1.cov().shape

(19, 19)

# Ionospheric Dataset 2

In [105]:
df2 = pd.read_excel('/content/drive/MyDrive/PA_1/Ionospheric Dataset 2/ionosphere.xlsx')

In [106]:
df2.shape

(351, 35)

In [107]:
df2.head

<bound method NDFrame.head of      Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 32  Unnamed: 33  Unnamed: 34
0             1           0     0.99539  ...      0.18641     -0.45300            g
1             1           0     1.00000  ...     -0.13738     -0.02447            b
2             1           0     1.00000  ...      0.56045     -0.38238            g
3             1           0     1.00000  ...     -0.32382      1.00000            b
4             1           0     1.00000  ...     -0.04608     -0.65697            g
..          ...         ...         ...  ...          ...          ...          ...
346           1           0     0.83508  ...      0.90546     -0.04307            g
347           1           0     0.95113  ...      0.91483      0.04712            g
348           1           0     0.94701  ...      0.92697     -0.00577            g
349           1           0     0.90608  ...      0.87403     -0.16243            g
350           1           0     0.84710  ...      0.85764     -0.06151            g

[351 rows x 35 columns]>

In [108]:
#classes 
np.unique(df2.iloc[:,-1:])

array(['b', 'g'], dtype=object)

In [109]:
#feature vector size
df2.iloc[:,0:34].shape

(351, 34)

In [110]:
df2.iloc[:,-1:].value_counts()

Unnamed: 34
g              225
b              126
dtype: int64

In [111]:
#for g
print(prior_prob(225,351))
#for b
print(1-prior_prob(225,351))

0.6410256410256411
0.3589743589743589

In [112]:
df2.mean(axis = 0).shape

(34,)

In [113]:
df2.cov().shape

(34, 34)

## Letter Recognition Dataset

In [114]:
df3 = pd.read_excel('/content/drive/MyDrive/PA_1/Letter Recognition Dataset 4/letterRecognition.xlsx')

In [115]:
df3.shape

(20000, 17)

In [116]:
df3.head

<bound method NDFrame.head of       Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 14  Unnamed: 15  Unnamed: 16
0              T           2           8  ...            8            0            8
1              I           5          12  ...            8            4           10
2              D           4          11  ...            7            3            9
3              N           7          11  ...           10            2            8
4              G           2           1  ...            7            5           10
...          ...         ...         ...  ...          ...          ...          ...
19995          D           2           2  ...            8            3            7
19996          C           7          10  ...            9            3            7
19997          T           6           9  ...           12            2            4
19998          S           2           3  ...            9            5            8
19999          A           4           9  ...            7            2            8

[20000 rows x 17 columns]>

In [117]:
#no of classes
np.unique(df3.iloc[:,:1])

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
      dtype=object)

In [118]:
#feature vector size
df3.iloc[:,1:].shape

(20000, 16)

In [119]:
#prior
df3.iloc[:,:1].value_counts()/20000

Unnamed: 0
U             0.04065
D             0.04025
P             0.04015
T             0.03980
M             0.03960
A             0.03945
X             0.03935
Y             0.03930
Q             0.03915
N             0.03915
F             0.03875
G             0.03865
E             0.03840
B             0.03830
V             0.03820
L             0.03805
R             0.03790
I             0.03775
O             0.03765
W             0.03760
S             0.03740
J             0.03735
K             0.03695
C             0.03680
H             0.03670
Z             0.03670
dtype: float64

In [120]:
print(df3.mean(axis = 0).shape)
df3.cov().shape

(16,)

(16, 16)

# Liver disorders dataset

In [121]:
df4 = pd.read_excel('/content/drive/MyDrive/PA_1/Liver Disorders Dataset 5/LiverDisorders.xlsx')

In [122]:
df4.shape

(345, 7)

In [123]:
df4.head

<bound method NDFrame.head of      Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 4  Unnamed: 5  Unnamed: 6
0            85          92          45  ...          31         0.0           1
1            85          64          59  ...          23         0.0           2
2            86          54          33  ...          54         0.0           2
3            91          78          34  ...          36         0.0           2
4            87          70          12  ...          10         0.0           2
..          ...         ...         ...  ...         ...         ...         ...
340          99          75          26  ...          41        12.0           1
341          96          69          53  ...         203        12.0           2
342          98          77          55  ...          89        15.0           1
343          91          68          27  ...          14        16.0           1
344          98          99          57  ...          65        20.0           1

[345 rows x 7 columns]>

In [124]:
#classes 
np.unique(df4.iloc[:,-1:])

array([1, 2])

In [125]:
#feature vector size
df4.iloc[:,0:6].shape

(345, 6)

In [126]:
df4.iloc[:,-1:].value_counts()

Unnamed: 6
2             200
1             145
dtype: int64

In [127]:
#for 1
print(prior_prob(145,345))
#for 2
print(1-prior_prob(145,351))

0.42028985507246375
0.586894586894587

In [128]:
print(df4.mean(axis = 0).shape)
df4.cov().shape

(7,)

(7, 7)

# Solar Flare Dataset 6

In [129]:
df5 = pd.read_excel('/content/drive/MyDrive/PA_1/Solar Flare Dataset 6/solarflare1.xlsx')

In [130]:
df5.shape

(1066, 13)

In [147]:
df5

     Unnamed: 0 Unnamed: 1 Unnamed: 2  ...  Unnamed: 10  Unnamed: 11  Unnamed: 12
0             H          A          X  ...            0            0            0
1             D          R          O  ...            0            0            0
2             C          S          O  ...            0            0            0
3             H          R          X  ...            0            0            0
4             H          S          X  ...            0            0            0
...         ...        ...        ...  ...          ...          ...          ...
1061          H          S          X  ...            0            0            0
1062          H          S          X  ...            0            0            0
1063          C          S          O  ...            0            0            0
1064          H          R          X  ...            0            0            0
1065          B          X          O  ...            0            0            0

[1066 rows x 13 columns]

In [155]:
#feature vector dimension
df5.iloc[:,3:].shape

(1066, 10)

In [151]:
#class Attribute 1 
print(np.unique(df5.iloc[:,:1]))

#class Attribute 2 
print(np.unique(df5.iloc[:,1:2]))

#class Attribute 3 
print(np.unique(df5.iloc[:,2:3]))

['B' 'C' 'D' 'E' 'F' 'H']
['A' 'H' 'K' 'R' 'S' 'X']
['C' 'I' 'O' 'X']

In [153]:
#class frequency in respective class attributes
print(df5.iloc[:,:1].value_counts())

print(df5.iloc[:,1:2].value_counts())

print(df5.iloc[:,2:3].value_counts())

Unnamed: 0
H             331
D             239
C             211
B             147
E              95
F              43
dtype: int64
Unnamed: 1
S             414
R             218
A             216
X             145
K              46
H              27
dtype: int64
Unnamed: 2
O             477
X             331
I             223
C              35
dtype: int64

In [156]:
#probability of classes

print(df5.iloc[:,:1].value_counts()/1066)

print(df5.iloc[:,1:2].value_counts()/1066)

print(df5.iloc[:,2:3].value_counts()/1066)

Unnamed: 0
H             0.310507
D             0.224203
C             0.197936
B             0.137899
E             0.089118
F             0.040338
dtype: float64
Unnamed: 1
S             0.388368
R             0.204503
A             0.202627
X             0.136023
K             0.043152
H             0.025328
dtype: float64
Unnamed: 2
O             0.447467
X             0.310507
I             0.209193
C             0.032833
dtype: float64

In [157]:
print(df5.mean(axis = 0).shape)
df5.cov().shape

(10,)

(10, 10)

# Spect heart dataset

In [132]:
df6 = pd.read_excel('/content/drive/MyDrive/PA_1/SPECT Heart Dataset 7/spectTrain.xlsx')

In [133]:
df6.shape

(80, 45)

In [134]:
df6.head

<bound method NDFrame.head of     Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 42  Unnamed: 43  Unnamed: 44
0            1          59          52  ...           74           64           67
1            1          72          62  ...           71           56           58
2            1          71          62  ...           41           51           46
3            1          69          71  ...           68           59           63
4            1          70          66  ...           55           49           41
..         ...         ...         ...  ...          ...          ...          ...
75           0          70          75  ...           67           56           54
76           0          59          57  ...           63           56           56
77           0          67          64  ...           80           67           68
78           0          68          65  ...           56           58           44
79           0          66          54  ...           68           59           59

[80 rows x 45 columns]>

In [135]:
#no of classes
np.unique(df6.iloc[:,:1])

array([0, 1])

In [136]:
df6.iloc[:,0:1].value_counts()

Unnamed: 0
1             40
0             40
dtype: int64

In [137]:
prior_prob(40,80)
#same priors

0.5

In [158]:
df6 = df6.iloc[:,1:]
print(df6.mean(axis = 0).shape)
df6.cov().shape

(44,)

(44, 44)

# Wisconsin Breast Cancer Dataset

In [139]:
df7 = pd.read_excel('/content/drive/MyDrive/PA_1/Wisconsin Breast Cancer Dataset 8/WDBC.xlsx')

In [140]:
df7.shape

(569, 31)

In [141]:
df7.head

<bound method NDFrame.head of     Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 28  Unnamed: 29  Unnamed: 30
0            M       17.99       10.38  ...       0.2654       0.4601      0.11890
1            M       20.57       17.77  ...       0.1860       0.2750      0.08902
2            M       19.69       21.25  ...       0.2430       0.3613      0.08758
3            M       11.42       20.38  ...       0.2575       0.6638      0.17300
4            M       20.29       14.34  ...       0.1625       0.2364      0.07678
..         ...         ...         ...  ...          ...          ...          ...
564          M       21.56       22.39  ...       0.2216       0.2060      0.07115
565          M       20.13       28.25  ...       0.1628       0.2572      0.06637
566          M       16.60       28.08  ...       0.1418       0.2218      0.07820
567          M       20.60       29.33  ...       0.2650       0.4087      0.12400
568          B        7.76       24.54  ...       0.0000       0.2871      0.07039

[569 rows x 31 columns]>

In [142]:
#no of classes
np.unique(df7.iloc[:,:1])

array(['B', 'M'], dtype=object)

In [143]:
df7.iloc[:,0:1].value_counts()

Unnamed: 0
B             357
M             212
dtype: int64

In [144]:
#for M
print(prior_prob(357,569))
#for B
print(1-prior_prob(357,569))

0.6274165202108963
0.37258347978910367

In [145]:
print(df7.mean(axis = 0).shape)
df7.cov().shape

(30,)

(30, 30)